<% include partials/header %>
<style>
    .card img{
        overflow-y: hidden;
        max-height:150px;
    }
</style>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!!!</h1>
            <p class="lead">View our hand-picked campgrounds from all over the world.</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
            </p>  
        </div>  
    </header>
    <div class="row" >
        <% camps.forEach((camp) => {  %>
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex">
                <div class="card w-100 p-3 mb-3 align-self-stretch">
                    <img class="card-img-top img-responsive" src="<%= camp.image %>" alt="Camp Image" style="overflow:hidden">
                    <div class="card-block">
                        <h6 class="card-title"><%= camp.name %></h6>
                        <div class="text-center py-2">
                            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary btn-block">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        <%  }) %>
        </div>  
    </div>
</div>


<% include partials/footer %>